{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}

<section class="vh-110 gradient-custom-2">
  <div class="container py-5">
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{% url 'create' %}"
    >
      {% csrf_token %}
      <div class="row">
        {% for field in form %}
        <div class="col-8">{% bootstrap_field field %}</div>

        {% endfor %}
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
