{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}

<section class="vh-110 gradient-custom-2">
  <div class="container py-5">
  
        <form method="POST" action="{% url 'create' %}">
          {% csrf_token %}
          <div class="row">
            {% for field in form %}
            <div class="col-8">{% bootstrap_field field %}</div>
            {% endfor %}
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <button type="submit" class="btn btn-primary">Create</button>
            
            </div>
           <div class="col-4">
              <a href="{% url 'list' %}" class="btn btn-primary"
                >Back to list</a
              >
            </div>
    {% comment %} <h1>Post item</h1>
    <form method="POST" action="{% url 'create' %}">
  
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-warning me-2">Create post</button>
    </form> {% endcomment %}

  
    </div>
    </div>
    </form>
   
    </section>
   {% endblock content %}
 