{% extends 'base.html' %} {% block content %} 
  <section class="vh-110 gradient-custom-2">
  <div class="container py-5">
   
    <h1 class="mb-4">POSTS</h1>
    {% comment %} <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Post Title</th>
                <th scope="col">Author</th>
                <th scope="col">Creation date</th>
              </tr>
            </thead>
            <tbody> {% endcomment %}
            
            {% comment %} <img class="image" src="{{post.image.url}}"
            alt="{{post.title}}"/> {% endcomment %}
              {% for post in posts %}
              <tr class="fw-normal">
                <th scope="row" class="col-1">
                  <span>{{ forloop.counter }}</span>
                </th>
                <td class="col-4">
                  <a
                    href="{% url 'detail' post.id %}"
                    class="border-0 align-middle text-decoration-none"
                  >
                    {{ post.title }}
                  </a>
                </td>
                <td class="align-middle col-2">{{ post.author }}</td>
                <td class="align-middle col-2">
                  <span class="badge bg-success fs-6"
                    >{{ post.date_created}}</span
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="paginator my-4">
            <span class="step-links">
              {% if posts.has_previous %}
              <a href="?page=1">&laquo;First</a>
              <a href="?page={{posts.previous_page_number}}">Previous</a>
              {% endif %}

              <span class="current">
                Page {{posts.number}} of {{posts.paginator.num_pages}}
              </span>

              {% if posts.has_next %}

              <a href="?page={{posts.next_page_number}}">next</a>
              <a href="?page={{posts.paginator.num_pages}}">&raquo;Last</a>
              {% endif %}
            </span>
          </div> 
        
    {% comment %} <h1>List of posts</h1>
    <div>
      <ol>
        {% for post in posts %}
        <li>
          <p>Title:<a href="{% url 'detail' post.id%}">{{post.title}}</a></p>
        </li>
        {% endfor %}
      </ol> {% endcomment %}
      <a href="{% url 'create' %}" class="btn btn-primary p-3 text-center my-3"
        >Create a new task</a
      >
      </div>
      </div>
      </div>
    </div>
    </section>
 {% endblock content %}