{% extends 'base.html' %} {% block content %} {% load static %}
<section class="vh-110 gradient-custom-2">
  <div class="container py-5">
    <div class="row">
      {% for post in posts %}

      <div class="col-4 mb-4">
        <a href="{% url 'detail' post.id %}"
          class="border-0 align-middle text-decoration-none"
        >
        {% if post.image %}
        <img
          src="{{post.image.url}}"
          class="image"
          alt="Post Images"
      
        />
        {% endif %}
        
         
          {{ post.title }}
     </a>
  

        <p class="align-middle" style="font-size:20px; font-weight:700" > By {{ post.author }} on {{post.date_created|date:"M,d Y"}}</p>
        
        
          
          </div>
          {% endfor %}
 

        <div class="paginator my-4">
          <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1">&laquo;First</a>
            <a href="?page={{posts.previous_page_number}}">Previous<3a>
            {% endif %}

            <span class="current">
              Page {{posts.number}} of {{posts.paginator.num_pages}}
            </span>

            {% if posts.has_next %}

            <a href="?page={{posts.next_page_number}}">next</a>
            <a href="?page={{posts.paginator.num_pages}}">&raquo;Last</a>
            {% endif %}
          </span>
        </div>

        {% comment %}
        <h1>List of posts</h1>
        <div>
          <ol>
            {% for post in posts %}
            <li>
              <p>
                Title:<a href="{% url 'detail' post.id%}">{{post.title}}</a>
              </p>
            </li>
            {% endfor %}
          </ol>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
